<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/google-charts/google-chart.html">
<link rel="import" href="../../../bower_components/iron-dropdown/iron-dropdown.html">


<dom-module id="cartera-tab">
    <template>
        <style>
            :host {
                display: block;
            }

            button{
                width: 100%;
                background-color: #E0E0EB;
                padding: 5% 0 5% 0;
            }

        </style>

    <google-chart
        type="pie"
        data="{{ cartera }}"
        options='{
            "pieHole": 0.5,
            "colors": ["#2277BB", "#EDA572"],
            "chartArea": {
                "left" : "200"
              }
        }'
        >
    </google-chart>

    <button on-click='dropdownOpen'>Top Ten Inversiones</button>
      <iron-dropdown id="dropdown" no-overlap>
        <div slot="dropdown-content">
            <p>FRANCE (GOVT OF)</p>
        </div>
      </iron-dropdown>
   
    </template>

    <script>
        /**
         * `cartera-tab` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class CarteraTab extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'cartera-tab';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    activosmonetarios: Number,
                    rentafija: {
                        type: Number,
                        computed: 'activosmonetariosChanged(activosmonetarios)'
                    },
                    cartera: {
                        type: Object,
                        value: function () {
                            return 
                                [["Category","Amount"],
                                ["Activos Monetarios", 0],
                                ["Renta Fija", 0]]
                        }
                    }
                };
            }

            static get observers() {
                return [
                    'dataChanged(activosmonetarios, rentafija)'
                ];
            }

            activosmonetariosChanged(activosmonetarios) {
                if (!activosmonetarios) {
                    return
                }
                return (100 - activosmonetarios)
            }

            dataChanged() {
                this.set('cartera', [["Category","Amount"],
                                    ["Activos Monetarios", this.activosmonetarios],
                                    ["Renta Fija", this.rentafija]])
            }

            dropdownOpen() {
                this.$.dropdown.open()
            }
        }

        window.customElements.define(CarteraTab.is, CarteraTab);
    </script>
</dom-module>