<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/google-charts/google-chart.html">
<link rel="import" href="../../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../theme/shared-styles.html" />

<dom-module id="cartera-tab">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            button {
                font-size: 1.5rem;
                background-color: transparent;
                color: var(--bbva-dark-grey);
                font-family: 'Roboto', 'BentonSans Light', Arial !important;
                font-size: 1em;
                line-height: 2.4em;
                font-weight: 500;
                border: none;
                outline: none;
            }
            .header-tab{
                justify-content: space-around;
                height: 30px;
            }
            #top-ten-table {
                width: 627px;
                display: grid;
            }
            dl{
                display: grid;
                margin: 0;
                padding: 0 50px;
                grid-auto-flow: column;
                grid-template-columns: auto 150px;
                border: 1px solid var(--bbva-light-grey)
            }
            dl:first-child{
                background: var(--sandy);
            }
            dl:first-child dt{
                border-right: 1px solid var(--bbva-light-grey);
            }
            dl:not(:first-child) >*{
                font-size: 11px;
            }
            dd,dt{
                padding: 10px 0;
            }
            dd {
                justify-self: right;
            }
            
            .arrow-down {
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid var(--bbva-dark-grey);
                transition: all 0.3s ease-out;
            }

            .arrow-right {
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid var(--bbva-dark-grey);
                transform: rotate(-180deg) translate(0%, -100%);    
                transform-origin: 100% -20%;   
                transition: all 0.3s ease-out;
            }
            google-chart{
                margin: auto;
            }
            google-chart::slotted #chartdiv{
                cursor: grab;
            }
        </style>

        <google-chart
            type="pie"
            data="{{ cartera }}"
            options="[[options]]"
            >
        </google-chart>

        <div on-click="dropdownOpen" class="header-tab">
            <button >Top Ten Inversiones</button>
            <p class$="[[arrow]]"></p>
        </div>
        <iron-dropdown id="dropdown" no-overlap allow-outside-scroll no-cancel-on-outside-click>
            <div id="top-ten-table" slot="dropdown-content" >
                <dl>
                    <dt>Inversiones</dt>
                    <dd>Peso Cartera</dd>
                </dl>
                <template is="dom-repeat"
                items="[[inversiones]]"
                as="inversion">
                    <dl>
                        <dt>[[inversion.name]]</dt>
                        <dd>[[inversion.percentage]]%</dd>
                    </dl>
                </template>
            </div>    
        </iron-dropdown>
    </template>

    <script>
        /**
         * `cartera-tab` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class CarteraTab extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'cartera-tab';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    activosmonetarios: Number,
                    inversiones: Array,
                    rentafija: {
                        type: Number,
                        computed: 'activosmonetariosChanged(activosmonetarios)'
                    },
                    options: {
                        type: Object,
                        value: {
                            colors: ["#2277BB", "#EDA572"],
                            chartArea: {
                                height: "60%",
                                top: "20%",
                                width : "100%"
                            },
                            fontName: "Roboto",
                            height: 300,
                            legend: {
                                alignment: "center",
                                position: "right",
                                textStyle: {
                                    fontSize: 12
                                }
                            },
                            pieHole: 0.6,
                            pieSliceBorderColor: "none",
                            pieSliceText: "percentage",
                            pieSliceTextStyle: {
                                fontSize: 12,
                                bold: true
                                },
                            tooltip: {
                                trigger: "selection"
                            },
                            width: 500
                        }
                    },
                    cartera: {
                        type: Object,
                        value: function () {
                            return 
                                [["Category","Amount"],
                                ["ACTIVOS MONETARIOS", 0],
                                ["RENTA FIJA", 0]]
                        }
                    },
                    arrow: {
                        type: String, 
                        value: 'arrow-right'
                    }
                };
            }

            static get observers() {
                return [
                    'dataChanged(activosmonetarios, rentafija)'
                ];
            }

            activosmonetariosChanged(activosmonetarios) {
                if (!activosmonetarios) {
                    return
                }
                return (100 - activosmonetarios)
            }

            dataChanged() {
                this.set('cartera', [["Category","Amount"],
                                    ["ACTIVOS MONETARIOS", this.activosmonetarios],
                                    ["RENTA FIJA", this.rentafija]])
            }

            dropdownControl() {
                this.arrow === "arrow-right" ?
                    this.$.dropdown.open() :
                    this.$.dropdown.close()
                this.arrow = (this.arrow === 'arrow-right') ?
                    'arrow-down' :
                    'arrow-right'
            } 
        }

        window.customElements.define(CarteraTab.is, CarteraTab);
    </script>
</dom-module>