<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../theme/shared-styles.html">
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">


<dom-module id="comentario-gestor">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }
            .dropdown-menu {
                width: 100%
            }

            iron-dropdown {
                border: 1px solid gray;
                background: white;
                font-size: 2em;
            }

        </style>

    <div class="header-tab">
        <h2>Comentario Gestor</h2>
    </div>  

    <paper-dropdown-menu class="dropdown-menu" label="Mes" horizontal-offset="200">
        <paper-listbox slot="dropdown-content" selected="{{ selected }}">
            <paper-item>Diciembre</paper-item>
            <paper-item>Noviembre</paper-item>
            <paper-item>Octubre</paper-item>
            <paper-item>Septiembre</paper-item>
            <paper-item>Agosto</paper-item>
            <paper-item>Julio</paper-item>
            <paper-item>Junio</paper-item>
            <paper-item>Mayo</paper-item>
            <paper-item>Abril</paper-item>
            <paper-item>Marzo</paper-item>
            <paper-item>Febrero</paper-item>
            <paper-item>Enero</paper-item>
        </paper-listbox>
    </paper-dropdown-menu>

    
    <iron-pages selected="{{ selected }}">
        <section><p>[[ fund.managerComments.december ]]</p></section>
        <section><p>[[ fund.managerComments.november ]]</p></section>
        <section><p>[[ fund.managerComments.october ]]</p></section>
    </iron-pages>
    
    
    </template>

    <script>
        /**
         * `comentario-gestor` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ComentarioGestor extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'comentario-gestor';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    selected: {
                        type: Number,
                        value: 0
                    }
                };
            }

        }

        window.customElements.define(ComentarioGestor.is, ComentarioGestor);
    </script>
</dom-module>