<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/table-row.html">
<link rel="import" href="../components/info-table.html">
<link rel="import" href="../components/position-list.html">
<link rel="import" href="../theme/shared-styles.html">

<dom-module id="datos-tab">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            
        </style>

        <dropdown-table>
            <span slot="title">Datos</span>

            <position-list slot="table-content">
                <div slot="list-content">
                    <dt>Fecha lanzamiento del fondo</dt>
                    <dd>[[fund.date]]</dd>

                    <dt>Fecha lanzamiento</dt>
                    <dd>[[fund.date]]</dd>

                    <dt>Divisa denominación fondo</dt>
                    <dd>[[fund.currency]]</dd>

                    <dt>Tipo</dt>
                    <dd>[[fund.typeData]]</dd>

                    <dt>Inversión mínima</dt>
                    <dd>[[fund.minInv]] EUR</dd>

                    <dt>Minimo mantener</dt>
                    <dd>[[fund.minInv]] EUR</dd>

                    <dt>Valor liquidativo aplicable</dt>
                    <dd>[[fund.valorLiqui]]</dd>

                    <dt>Hora limite suscripciones y reembolsos</dt>
                    <dd>[[fund.hourLimit]] H</dd>

                    <dt>Tramitación suscripciones y reembolsos</dt>
                    <dd>[[fund.valorLiqui]][[fund.tramit]]</dd>

                    <dt>Código ISIN</dt>
                    <dd>[[fund.ISIN]]</dd>

                    <dt>Código CIF</dt>
                    <dd>[[fund.CIF]]</dd>

                    <dt>Código registro</dt>
                    <dd>[[fund.regis]]</dd>

                    <dt>Domicilio</dt>
                    <dd>[[fund.country]]</dd>

                    <dt>Registrado en</dt>
                    <dd>[[fund.country]]</dd>

                    <dt>Estructura legal</dt>
                    <dd>[[fund.structure]]</dd>

                    <dt>Gestora</dt>
                    <dd>[[fund.gestor]]</dd>

                    <dt>Depositario</dt>
                    <dd>[[fund.depos]].</dd>

                    <dt>Auditor</dt>
                    <dd>[[fund.audit]]</dd>

                    <dt>Patrimonio (24/1/2019)</dt>
                    <dd>[[fund.patrim]]€</dd>

                    <dt>Indice de referencia</dt>
                    <dd>[[fund.ref]]</dd>

                    <dt>Frecuencia de cálculo del valor liquidativo</dt>
                    <dd>[[fund.frecuence]]</dd>
                </div>
            </position-list>

        </dropdown-table>

        <dropdown-table>
            <span slot="title">Comisiones</span>

            <table slot="table-content">
                <tr>
                    <th></th>
                    <th>Base</th>
                    <th>%</th>
                    <th>Tramo/Plazo</th>  
                </tr>
                <tr>
                    <td>Comisión de gestión</td>
                    <td>Patrimonio</td>
                    <td>0.25</td>
                    <td>Desde el 01/01/2019 y hasta el 31/03/2019, ambos incluidos.</td>
                </tr>   
                <tr>
                    <td>Comisión de depósito</td>
                    <td>Patrimonio</td>
                    <td>0.05</td>
                    <td></td>
                </tr>
            </table>

        </dropdown-table>

        <dropdown-table>
            <span slot="title">Historico de comisiones</span>

            <table slot="table-content">
                    <tr>
                        <th></th>
                        <th>Base</th>
                        <th>%</th>
                        <th>Tramo/Plazo</th>  
                    </tr>
                    <tr>
                        <td>Comisión de gestión</td>
                        <td>Patrimonio</td>
                        <td>0.25</td>
                        <td>Desde el 27/07/2015 y hasta el 31/12/2018, ambos incluidos.</td>
                    </tr>   
                    <tr>
                        <td>Comisión de depósito</td>
                        <td>Patrimonio</td>
                        <td>0.65</td>
                        <td>Hasta el 26/07/2015, inclusive.</td>
                    </tr>
                </table>

        </dropdown-table>

        <dropdown-table>
            <span slot="title">Otros datos de interes</span>

            <article slot="table-content">
               <p><b>Valor liquidativo aplicable:</b> el mismo día de la fecha de solicitud.</p>
               <p><b>Lugar de publicación del valor liquidativo:</b> el Boletín de cotización de la bolsa de Valores de Madrid.</p>
               <p><b>Tramitación de las órdenes de suscripción y reembolso: </b> las órdenes cursadas por el partícipe a partir de las 15:00 horas o en un día inhábil se tramitarán junto con las realizadas al día siguiente hábil. A estos efectos, se entiende por día hábil todos los días de lunes a viernes, excepto festivos en todo el territorio nacional. El límite de las 15:00 horas señalado anteriormente se refiere al horario peninsular.</p>
               <p>No se considerarán días hábiles aquellos en los que no exista mercado para los activos que representen más del 5% del patrimonio. Los comercializadores podrán fijar horas de corte distintas y anteriores a la establecida con carácter general por la Sociedad Gestora, debiendo ser informado el partícipe al respecto por el comercializador.</p>
            </article>

        </dropdown-table>

    </template>

    <script>
        /**
         * `datos-tab` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class DatosTab extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'datos-tab';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    arrow: {
                        type: String, 
                        value: 'arrow-down'
                    }
                };
            }
        }

        window.customElements.define(DatosTab.is, DatosTab);
    </script>
</dom-module>