<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<!-- <link rel="import" href="../components/posicion-global-chart.html">-->
<link rel="import" href="../components/my-highcharts-stock.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../theme/shared-styles.html">

<dom-module id="evolucion-tab">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }

            .table-simple{
                background-color:rgba(0, 0, 0, 0);
                border-bottom-color:rgb(220, 220, 220);
                width:100%;
                border-bottom-style:solid;
                border-bottom-width:1px;
                border-collapse:collapse;
                border-image-outset:0px;
                border-image-repeat:stretch;
                border-image-slice:100%;
                border-image-source:none;
                border-image-width:1;
                border-left-color:rgb(220, 220, 220);
                border-left-style:solid;
                border-left-width:1px;
                border-right-color:rgb(220, 220, 220);
                border-right-style:solid;
                border-right-width:1px;
                border-top-color:rgb(51, 51, 51);
                border-top-style:none;
                border-top-width:0px;
                box-sizing:border-box;
                color:rgb(51, 51, 51);
                display:table;
                font-family:BentonSansBook, Arial, Helvetica, sans-serif;
                font-size:14px;
                height:171px;
                line-height:20px;
                margin-bottom:10px;
                margin-left:0px;
                margin-right:0px;
                margin-top:0px;
                outline-color:rgb(51, 51, 51);
                outline-style:none;
                outline-width:0px;
                padding-bottom:0px;
                padding-left:0px;
                padding-right:0px;
                padding-top:0px;
                text-size-adjust:100%;
                width:566px

            }
        </style>

        
    <div class="header-tab">
        <h2>Evolución</h2>
    </div> 

    <p>Período consultado: [[startDateInterval]] to [[endDateInterval]]</p>
    <p>Última actualización:</p>

   <!--pongo directamente my-highcharts-stock-->
    <my-highcharts-stock 
        title='[[name]]' 
        subtitle='Valor Liquidativo' 
        series='[[series]]'>
    </my-highcharts-stock>

    <!--Deberia retirar esta posicion-golbalchart 
    <posicion-global-chart values="[[values]]" name="[[name]]" ></posicion-global-chart>
    -->

    <vaadin-date-picker
        label="DateStart" placeholder="Pick a date" value="{{startDateInterval}}">
    </vaadin-date-picker>

    <vaadin-date-picker
        label="DateEnd" placeholder="Pick a date" value="{{endDateInterval}}">
    </vaadin-date-picker>

    <button>
        <iron-icon on-click="updateData" class="lupa" icon="icons:search"></iron-icon>
    </button>

    <div class="header-tab">
            <h2>Datos a <b>[[endDateInterval]]</b></h2>
    </div> 

    <div class="data-tables">
        <table class="table-simple">
            <tr>
                <th>Rentabilidad acumulada</th>
                <th>1 mes</th> 
                <th>Año en curso</th>
                <th>Un año</th>
            </tr>
            <tr>
                <td>Fondo</td>
                <td>Smith</td> 
                <td>50</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Indice</td>
                <td>Jackson</td> 
                <td>94</td>
                <td>50</td>
            </tr>
        </table>

        <table class="table-simple">
            <tr>
                <th> Rentabilidad anualizadaa</th>
                <th>1 año</th> 
                <th>3 años</th>
                <th>5 años</th>
                <th>10 años</th> 
                <th>15 años</th>
                <th>20 años</th>
            </tr>
            <tr>
                <td>Fondo</td>
                <td>Smith</td> 
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>Smith</td> 
                <td>Smith</td> 
            </tr>
            <tr>
                <td>Indice</td>
                <td>Jackson</td> 
                <td>94</td>
                <td>50</td>
                <td>Jackson</td> 
                <td>94</td>
                <td>50</td>
            </tr>
        </table>

        <table class="table-simple">
            <tr>
                <th>Rentabilidad últimos 5 años</th>
                <th>2018</th> 
                <th>2017</th>
                <th>2016</th>
                <th>2015</th> 
                <th>2016</th>
                <th>2014</th>
            </tr>
            <tr>
                <td>Fondo</td>
                <td>Smith</td> 
                <td>50</td>
                <td>50</td>
                <td>Smith</td> 
                <td>Smith</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Indice</td>
                <td>Jackson</td> 
                <td>94</td>
                <td>50</td>
                <td>Jackson</td> 
                <td>94</td>
                <td>50</td>
            </tr>
        </table>

    </div>


    <div class="header-tab">
            <h2>Datos Estadisticos</h2>
    </div> 


    </template>

    <script>
        /**
         * `evolucion-tab` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class EvolucionTab extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'evolucion-tab';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    values:{
                        type: Array,
                        value: function(){
                            return []
                        }
                    },
                    /** 
                    *Array with Object that have nave and data, data is a array of array(2)
                    */
                    series:{
                        type: Array,
                        value:function(){
                            return []
                        }
                    },
                   
                    name: {
                        type: String,
                        value:""
                    },

                    startDateInterval:{
                        type: String,
                        value:"",
                        observer: "_startdate"
                    },

                    endDateInterval:{
                        type: String,
                        value:"",
                        observer:"_enddate"
                    },

                    filteredValues:{
                        type: Array,
                        value: function(){
                            return []
                        }
                    },
                    /**
                    * todayDate computed by method thas also give 
                    * value to other four properties
                    *
                    */
                    todayDate: {
                        type: Number,
                        value: "",
                        computed: 'getDateValues()'
                    },

                    aMounthAgoDate:{
                        type: Number,
                        value:""
                    },
                    
                    firstDayOfThisYearDate: {
                        type: Number,
                        value:""
                    },

                    aYearAgoDate:{
                        type: Number,
                        value: ""
                    },

                    threeYearAgoDate:{
                        type: Number,
                        value:""
                    }

                };
            }

            /**
              * Array of strings describing multi-property observer methods and their
              * dependant properties
              */
            static get observers() {
                return [
                    'Changed(values,name)',

                ];
            }

            Changed(values,name){
                console.log("values: ",values)
                console.log("Name: ",name)
            }

            _startdate(){
              
                if (this.startDateInterval!=="") {
                    this.filterValues(this.startDateInterval,this.endDateInterval,this.values);
                }
            }
            _enddate(){
             
               if (this.endDateInterval!=="") {
                this.filterValues(this.startDateInterval,this.endDateInterval,this.values);
           
               } }


            filterValues(startDate,endDate,values){
 
                let localFilteredValues=[];
                let startTimestamp=Date.parse(startDate)
                let endTimestamp=Date.parse(endDate)
 
                localFilteredValues=values.filter(
                    element => 
                        ((element.date>=startTimestamp)&&(element.date<=endTimestamp))
                    );

                this.set("filteredValues",localFilteredValues)
            }


            updateData(){
                //filteredValues is a array of objects, HighCharts needs an array with
                // a object that have a name and an array of arrays(2) for the data, so:
                const arrayTwoData = this.filteredValues.map(item => [item.date, item.netAssetValue])
                this.set('series', [{ name: this.name, data: arrayTwoData }])
              
            }

            getDateValues(){
                /*to get first day of this mounth*/
                let todayDate=new Date();
                let realTodayDate=todayDate; //to keep the value of real todayDate
                let firstDayOfThisMounth;
                let firstDayOfThisYear;
                let thisYear;
                let aYearAgo;
                let previousMounth;
                let aMounthAgo;
                let thisMounth;
                let treeYearsAgo;

                /*To get firstDayOfThisMounth*/
                firstDayOfThisMounth=new Date(todayDate.setDate(1));
                console.log("firstDayOfThisMounth: ",firstDayOfThisMounth);
                
                /*To get first day of this year, first day of januay 1*/
                todayDate = new Date(); //refresh todayDate
                firstDayOfThisMounth=new Date(todayDate.setDate(1));
                firstDayOfThisYear=new Date(firstDayOfThisMounth.setMonth(0));
                console.log("firstDayOfThisYeare: ",typeof(firstDayOfThisYear));
 
                /*to get a year ago date*/
                todayDate=new Date() //refresh todayDate
                thisYear=todayDate.getUTCFullYear();
                aYearAgo=new Date(todayDate.setFullYear(thisYear-1))
                todayDate=new Date()
                treeYearsAgo=new Date(todayDate.setFullYear(thisYear-3))
                console.log("a year ago: ",aYearAgo);
                console.log("TREE years ago: ",treeYearsAgo)

                /*To get a mounth ago, look at mounth and year*/
                todayDate=new Date() //refresh todayDte
                thisMounth=todayDate.getMonth() //actual Mounth
              
                if (thisMounth==0) { 
                    previousMounth=11
                    let temp=new Date(todayDate.setMonth(previousMounth))
                    aMounthAgo=new Date(temp.setFullYear(thisYear-1))
                } else {
                    previousMounth = thisMounth-1;
                    aMounthAgo=new Date(todayDate.setMonth(previousMounth))
                    }
                console.log("a Mounth ago: ",aMounthAgo)

                /*to set the properties as Number (timestamp)*/
                this.aMounthAgoDate=aMounthAgo.getTime();
                this.firstDayOfThisYearDate=firstDayOfThisYear.getTime();
                this.aMounthAgoDate=aMounthAgo.getTime();
                this.aYearAgoDate=aYearAgo.getTime()
                this.threeYearAgoDate=treeYearsAgo.getTime();
                console.log(this.aMounthAgoDate,this.firstDayOfThisYearDate,this.aMounthAgoDate);
                    /*and return todaydate as timestamp*/
                return todayDate.getTime();
            }




            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }
        }

        window.customElements.define(EvolucionTab.is, EvolucionTab);
    </script>
</dom-module>