<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/posicion-global-chart.html">

<link rel="import" href="../theme/shared-styles.html">


<dom-module id="posicion-global">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }

        </style>

        <div class="header-tab">
            <h2>Posición Global</h2>
            <paper-button class="blue">Exportar</paper-button>
        </div>    

        <p>Período consultado: [[datestart]] - [[dateend]]</p>
        <p>Última actualización: [[today]]</p>

        <posicion-global-chart 
            on-datestart-changed="dateStartChanged" 
            on-dateend-changed="dateEndChanged" 
            values="[[values]]" 
            name="[[name]]"
            today="[[today]]">
        </posicion-global-chart>

    </template>

    <script>
        /**
         * `posicion-global` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PosicionGlobal extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'posicion-global';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    values: Array,
                    name: String,
                    datestart: String, 
                    dateend: String
                };
            }

            dateStartChanged (e) {
                this.datestart = e.detail.value
            }

            dateEndChanged (e) {
                this.dateend = e.detail.value
            }
        }

        window.customElements.define(PosicionGlobal.is, PosicionGlobal);
    </script>
</dom-module>