<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../components/posicion-global-chart.html">

<link rel="import" href="../theme/shared-styles.html">


<dom-module id="posicion-global">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }
        </style>

    <div class="header-tab">
        <h2>Posición Global</h2>
        <paper-button class="blue">EXPORTAR</paper-button>
    </div>    

    <p>Período consultado:</p>
    <p>Última actualización:</p>

    <posicion-global-chart></posicion-global-chart>

    </template>

    <script>
        /**
         * `posicion-global` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PosicionGlobal extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'posicion-global';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

        }

        window.customElements.define(PosicionGlobal.is, PosicionGlobal);
    </script>
</dom-module>