<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/posicion-global-chart.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../theme/shared-styles.html">


<dom-module id="posicion-global">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }
        </style>

        <div class="header-tab">
            <h2>Posición Global</h2>
            <paper-button class="blue">Exportar</paper-button>
        </div>    

        <p>Período consultado: [[datestart]] - [[dateend]]</p>
        <p>Última actualización: [[today]]</p>

        <posicion-global-chart 
            on-datestart-changed="dateStartChanged" 
            on-dateend-changed="dateEndChanged" 
            values="[[values]]" 
            name="[[name]]"
            today="[[today]]">
        </posicion-global-chart>

    </template>

    <script>
        /**
         * `posicion-global` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PosicionGlobal extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'posicion-global';
            }
            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    
                      /**
                    * Array objects time (timestamp) financial value from fund.data
                    * @type Array[object]
                    */

                    values: Array,
                      /**
                    * From fund.name, name of the fund.
                    * @type String
                    */

                    name: String,
                       /**
                    * Date origin of calcs
                    * @type String
                    */

                    datestart: String, 

                       /**
                    * .Date end of calcs
                    * @type String
                    */
                    dateend: String
                };
            }

            /**
            * Fired when `posicion-global-chart` changes its date start.
            * format e.detail.value: string YYYY/MM/DD
            * @event datestart-changed
            * @param {string} date origin for calculations.
            */
            dateStartChanged (e) {
                this.datestart = e.detail.value
            }

             /**
            * Fired when `posicion-global-chart` changes its date start.
            * format e.detail.value:  string YYYY/MM/DD
            * @event dateend-changed
            * @param {string} date end for calculations.
            */
            dateEndChanged (e) {
                this.dateend = e.detail.value
            }
        }
        window.customElements.define(PosicionGlobal.is, PosicionGlobal);
    </script>
</dom-module>