<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html" />

<link rel="import" href="../../fund-profile-app/theme/shared-styles.html" />

<dom-module id="date-browser">
  <template>
    <style include="shared-styles">
      :host {
        display: grid;
      }
    </style>
    <vaadin-date-picker label="[[label]]" placeholder="[[setDate]]" i18n="[[i18n]]" value="{{ date }}" max="[[maxDate]]"></vaadin-date-picker>
  </template>

  <script>
    /**
     * `date-browser` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class DateBrowser extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "date-browser";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          label: String,
          placeholder: String,

          date: {
            type: String,
            notify: true
          },
          i18n: {
            type: Object,
            value: {
              monthNames: [
                "Enero", "Febrero", "Marzo", "Abril",
                "Mayo", "Junio", "Julio", "Agosto",
                "Septiembre", "Octubre", "Noviembre", "Diciembre"
              ],
              weekdays: [
                "Domingo", "Lunes", "Martes", "Miercoles",
                "Jueves", "Viernes", "Sábado"
              ],
              weekdaysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sáb"],

              // An integer indicating the first day of the week
              // (0 = Sunday, 1 = Monday, etc.).
              firstDayOfWeek: 0,

              // Used in screen reader announcements along with week
              // numbers, if they are displayed.
              week: "semana",

              // Translation of the Calendar icon button title.
              calendar: "Calendario",

              // Translation of the Clear icon button title.
              clear: "Borrar",

              // Translation of the Today shortcut button text.
              today: "Hoy",

              // Translation of the Cancel button text.
              cancel: "Volver",

              // A function to format given `Object` as
              // date string. Object is in the format `{ day: ..., month: ..., year: ... }`
              formatDate: d => {
                const addZero = value => (value < 10 ? "0" + value : value);
                // returns a string representation of the given
                // object in Spanish 'DD/MM/YYYY' format
                return `${addZero(d.day)}/${addZero(d.month + 1)}/${d.year}`;
              },

              // A function to parse the given text to an `Object` in the format `{ day: ..., month: ..., year: ... }`.
              // Must properly parse (at least) text
              // formatted by `formatDate`.
              // Setting the property to null will disable
              // keyboard input feature.
              parseDate: null,

              // A function to format given `monthName` and
              // `fullYear` integer as calendar title string.
              formatTitle: (monthName, fullYear) => {
                return monthName + " " + fullYear;
              }
            }
          }
        }
      }
      ready() {
        super.ready()
        this.maxDate = new Date().toISOString().slice(0, 10)
      }
    }

    window.customElements.define(DateBrowser.is, DateBrowser);
  </script>
</dom-module>