<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>
<link
  rel="import"
  href="../../../bower_components/l2t-paper-rating/l2t-paper-rating.html"
/>
<link rel="import" href="table-row.html">
<link rel="import" href="../theme/shared-styles.html" />

<dom-module id="general-information">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --rating-icon-color: var(--evaluate-low);
        --rating-icon-size: 10px;
        font-size: 1em;
      }
      l2t-paper-rating:focus {
        outline: none;
      }
      table-row{
        border-bottom: 1px solid #dcdcdc;
      }
      table-row:last-child{
        border-bottom: none;
      }
    </style>

    <table-row>
      <span slot="value-name">ISIN</span>
      <span slot="value">[[data.ISIN]]</span>
    </table-row>

    <table-row>
      <span slot="value-name">Domicilio</span>
      <span slot="value">[[data.country]]</span>
    </table-row>

    <table-row>
      <span slot="value-name">Divisa</span>
      <span slot="value">[[data.currency]]</span>
    </table-row>

    <table-row>
      <span slot="value-name">Riesgo de inversión</span>
      <span slot="value">
        <l2t-paper-rating
          readonly
          total="7"
          rating="[[data.riskLevel]]"
          icon="image:lens"
        >
        </l2t-paper-rating>
      </span>
    </table-row>
  </template>

  <script>
    /**
     * `general-information` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class GeneralInformation extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "general-information";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          data: {
            type: Object,
            value: function(){
              return {}
            }
          }
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }
    }

    window.customElements.define(GeneralInformation.is, GeneralInformation);
  </script>
</dom-module>
