<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>

<dom-module id="general-information">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="sidebar-table">
      <h2>Información general</h2>
      <dl>
        <dt>ISIN</dt>
        <dd>[[fund.ISIN]]</dd>
      </dl>

      <dl>
        <dt>Domicilio</dt>
        <dd>[[fund.country]]</dd>
      </dl>
      <dl>
        <dt>Divisa</dt>
        <dd>[[fund.currency]]</dd>
      </dl>
      <dl>
        <dt>Riesgo de inversión</dt>
        <dd>[[fund.riskLevel]]</dd>
      </dl>
    </div>
  </template>

  <script>
    /**
     * `general-information` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class GeneralInformation extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "general-information";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {};
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {});
      }
    }

    window.customElements.define(GeneralInformation.is, GeneralInformation);
  </script>
</dom-module>
