<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>
<link
  rel="import"
  href="../../../bower_components/l2t-paper-rating/l2t-paper-rating.html"
/>
<link rel="import" href="../theme/shared-styles.html" />

<dom-module id="general-information">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        margin-bottom: 5px;
        font-size: 1em;
        --rating-icon-color: #da3851;
        --rating-icon-size: 10px;
      }
      .sidebar-table {
        border: 1px solid #dde3ea;
        padding-bottom: 10px;
      }
      dl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dcdcdc;
        margin: 0 20px;
        padding: 10px 0;
      }
      dl:last-child {
        border-bottom: none;
        padding-bottom: 10px;
      }
      dd {
        font-family: "BentonSans Regular";
      }
    </style>

    <dl>
      <dt>ISIN</dt>
      <dd>[[data.ISIN]]</dd>
    </dl>

    <dl>
      <dt>Domicilio</dt>
      <dd>[[data.country]]</dd>
    </dl>

    <dl>
      <dt>Divisa</dt>
      <dd>[[data.currency]]</dd>
    </dl>

    <dl>
      <dt>Riesgo de inversión</dt>
      <dd>
        <l2t-paper-rating
          readonly
          total="7"
          rating="[[data.riskLevel]]"
          icon="image:lens"
        >
        </l2t-paper-rating>
      </dd>
    </dl>
  </template>

  <script>
    /**
     * `general-information` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class GeneralInformation extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "general-information";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {};
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {});
      }
    }

    window.customElements.define(GeneralInformation.is, GeneralInformation);
  </script>
</dom-module>
