<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />

<dom-module id="info-table">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        border: 1px solid #dde3ea;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 5px;
        font-size: 0.8rem;
        overflow: hidden;
      }

      :host ::slotted([blue]) {
        background: var(--bbva-blue);
        color: white;
      }

      :host ::slotted([slot="title"]) {
        font-size: 14px;
      }

      :host ::slotted(*) {
        padding: 10px 20px;
      }

      :host ::slotted([slot="annex_content"]) {
        background: var(--correct);
        font-size: 0.7rem;
      }
    </style>
    <slot name="title"></slot>
    <slot name="rows"></slot>
    <slot name="annex_controller"></slot>
    <slot name="annex_content"></slot>
  </template>

  <script>
    /**
     * `info-table` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class InfoTable extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "info-table";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {};
      }
    }

    window.customElements.define(InfoTable.is, InfoTable);
  </script>
</dom-module>