<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />

<dom-module id="info-table">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        border: 1px solid #dde3ea;
        border-radius: 5px;
        font-size: 0.8rem;
        overflow: hidden;
        margin-bottom: 10px;
      }

      :host([slot="annex_content"]) {
        border: none;
        border-radius: 0;
        margin-bottom: 0;
      }

      :host([slot="annex_content"])::before {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #e2ece2;
        transition: all 0.3s ease-out;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 999
      }
      :host ::slotted([white]) {
        background:white;
      }
      :host ::slotted([blue]) {
        background: var(--bbva-blue);
        color: white;
      }

      :host ::slotted([slot="title"]) {
        display:grid;
        grid: auto / auto-flow auto;
        font-size: 14px;
        padding: 17px 20px;
      }
      :host ::slotted([slot="columns"]) {
        display: grid;
        grid: auto / auto-flow auto;
      }

      :host > ::slotted(*) {
        padding: 0 20px 10px 20px;
        position: relative;
        z-index: 3
      }

      :host ::slotted([slot="annex_content"]) {
        background: var(--correct);
        font-size: 0.7rem;
        position: relative;
        z-index: 1
      }
    </style>
    <slot name="title"></slot>
    <slot name="rows"></slot>
    <slot name="columns"></slot>
    <slot name="annex_controller"></slot>
    <slot name="annex_content" id="animatable"></slot>
  </template>

  <script>
    /**
     * `info-table` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class InfoTable extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "info-table";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {};
      }
      connectedCallback() {
        super.connectedCallback()
        if(this.getAttribute("slot") === "annex_content")
          this.show()
      }

      show() {
        //seconds constant value in milliseconds
        const s = 1000
        this.animate([
          {transform:'translateY(-100%)', opacity: 0},
          {transform:'translateY(0)', opacity: 1 }
        ],{ duration:1*s, easing: "cubic-bezier(0.68, -0.55, 0.265, 1.55)", fill: "forwards" });
      }

    }

    window.customElements.define(InfoTable.is, InfoTable);
  </script>
</dom-module>