<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/highcharts-polymer/highcharts-stock.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">


<dom-module id="posicion-global-chart">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <vaadin-date-picker label="Desde" placeholder="Elija una fecha" value="{{dateStart}}">
        </vaadin-date-picker>

        <vaadin-date-picker label="Hasta" placeholder="Elija una fecha" value="{{dateEnd}}">
        </vaadin-date-picker>


        <highcharts-stock title='Bonos Cash' subtitle='Valor Liquidativo' series='[[series]]'>
        </highcharts-stock>

    </template>

    <script>
        /**
         * `posicion-global-chart` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PosicionGlobalChart extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'posicion-global-chart';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    dateStart: String,
                    dateEnd: String,
                    values: Array,
                    name: String,
                    userValue: Array,
                    series: {
                        type: Object,
                        value: function () {
                            return {}
                        }
                    }
                }
            }

            /**
              * Array of strings describing multi-property observer methods and their
              * dependant properties
              */
            static get observers() {
                return [
                    'valuesAndNameChanged(values, name)',
                    'dateStartAndEndChanged(dateStart, dateEnd)'
                ];
            }

            valuesAndNameChanged(values, name) {
                let newValues = []
                values.map(function (item) {
                    if (item.date > 1500854400000) {
                        newValues.push([item.date, item.netAssetValue])
                    }
                })
                this.set('series', [{ name: name, data: newValues }])
            }

            dateStartAndEndChanged(dateStart, dateEnd) {

                let date1;
                let date2;

                if (!dateStart && !dateEnd) {
                    return
                } else if (dateStart && !dateEnd) {
                    date1 = new Date(this.dateStart).getTime()
                    date2 = 1548198000000
                } else if (!dateStart && dateEnd) {
                    date1 = 1382659200000
                    date2 = new Date(this.dateEnd).getTime()
                } else {
                    date1 = new Date(this.dateStart).getTime()
                    date2 = new Date(this.dateEnd).getTime()
                }

                const newArray = this.values.filter(value => value.date > date1 && value.date < date2)
                const newData = newArray.map(item => [item.date, item.netAssetValue])
                this.set('series', [{ name: this.name, data: newData }])
            }


            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }
        }

        window.customElements.define(PosicionGlobalChart.is, PosicionGlobalChart);
    </script>
</dom-module>