<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="my-highcharts-stock.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">


<dom-module id="posicion-global-chart">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <vaadin-date-picker 
            label="Desde" 
            placeholder="Elija una fecha" 
            value="{{datestart}}"
            max=[[maxdate]]>
        </vaadin-date-picker>

        <vaadin-date-picker 
            label="Hasta" 
            placeholder="Elija una fecha" 
            value="{{dateend}}"
            max="[[maxdate]]">
        </vaadin-date-picker>

        <my-highcharts-stock 
            title='Bonos Cash' 
            subtitle='Valor Liquidativo' 
            series='[[series]]'>
        </my-highcharts-stock>

        

    </template>

    <script>
        /**
         * `posicion-global-chart` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PosicionGlobalChart extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'posicion-global-chart';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    /**
                    * Date start for calculation and graph.
                    * @type {string}}
                    */
                    datestart: {
                        type: String, 
                        notify: true
                    },

                     /**
                    * Date end for calculation and graph.
                    * @type {string}}
                    */
                    dateend: {
                        type: String, 
                        notify: true
                    },

                     /**
                    * Date max from data
                    * @type {string}
                    */
                    maxdate: String,

                    /**
                    * Date max from data.
                    * @type {Array}
                    */
                    values: Array,

                    /**
                    * Name of data series.
                    * @type {string}
                    */
                    name: String,

                    /**
                    *
                    * @type {Array}
                    */
                    userValue: Array,

                    /**
                    * Object with nave of serie and data selected by date
                    * @type {Object.<string,Array>}
                    */
                    series: {
                        type: Object,
                        value: function () {
                            return {}
                        }
                    }
                }
            }

            /**
              * Array of strings describing multi-property observer methods and their
              * dependant properties
              */
            static get observers() {
                return [
                    'valuesAndNameChanged(values, name)',
                    'dateStartAndEndChanged(datestart, dateend)'
                ];
            }

            
                
            /**
            * Observer of changes in values and name.
            * set 'series'
            * 
            * @param {array} values array of string, values of series
            * @param {string} name of serie
            * @return {undefined} 
            */

            valuesAndNameChanged(values, name) {
                let newValues = []
                values.map(function (item) {
                    if (item.date > 1500854400000) {
                        newValues.push([item.date, item.netAssetValue])
                    }
                })
                this.set('series', [{ name: name, data: newValues }])
            }

            /**
            * Observer of changes in datestart and dateend.
            * both in string format "YYYY-MM-DD" 
            * set series to show
            * 
            * @param {string} datestart in format "YYYY-MM-DD"
            * @param {string} dateend in format "YYYY-MM-DD"
            * @return {undefined} 
            */

            dateStartAndEndChanged(datestart, dateend) {
                let date1;
                let date2;

                if (!datestart && !dateend) {
                    return
                } else if (datestart && !dateend) {
                    date1 = new Date(this.datestart).getTime()
                    date2 = 1548198000000
                } else if (!datestart && dateend) {
                    date1 = 1382659200000
                    date2 = new Date(this.dateend).getTime()
                } else {
                    date1 = new Date(this.datestart).getTime()
                    date2 = new Date(this.dateend).getTime()
                }

                const newArray = this.values.filter(value => value.date >= date1 && value.date <= date2)
                const newData = newArray.map(item => [item.date, item.netAssetValue])
                console.log(newData)
                this.set('series', [{ name: this.name, data: newData }])
            }


            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
                this.maxdate = new Date().toISOString().slice(0,10)
                
            }
        }

        window.customElements.define(PosicionGlobalChart.is, PosicionGlobalChart);
    </script>
</dom-module>