<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>

<dom-module id="rentabilidad-calculation">
  <template>
    <style>
      :host {
        display: block;
      }
      .sidebar-table {
        border: 1px solid #dde3ea;
        padding-bottom: 10px;
      }
      dl,
      .see-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dcdcdc;
        margin: 0 20px;
        padding: 10px 0;
      }
      .see-date {
        border-bottom: none;
        padding-bottom: 10px;
      }
      dd {
        font-family: "BentonSans Regular";
      }
    </style>

    <div>
      <dl>
        <dt>Valor liquidativo</dt>
        <dd>[[ dateData.netAssetValue ]]</dd>
      </dl>

      <dl>
        <dt>Rentabilidad mes en curso</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>Rentabilidad año en curso</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>Rentabilidad últ. 12 meses</dt>
        <dd></dd>
      </dl>
      <p class="see-date">Consultar otra fecha</p>
    </div>
  </template>

  <script>
    /**
     * `rentabilidad-calculation` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class RentabilidadCalculation extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "rentabilidad-calculation";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          data: Object,
          dateData: Object,
          firstOfMonth: {
            type: Number,
            computed: "getFirstOfMonth(date)"
          },
          firstOfYear: {
            type: Number,
            computed: "getFirstOfYear(date)"
          },
          currentMonthRentability: {
            type: Number,
            computed: "rentability(firstOfMonth, date)"
          },
          currentYearRentability: {
            type: Number,
            computed: "rentability(firstOfYear, date)"
          }
        };
      }

      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();
        this.data = this.getData()
        this.dateData = this.getDateData(date)
      }

      getData(){
        this.data = data;
      }
      getDateData(day) {
        let result = this.data.data.find(element => element.date === day);
        this.dateData = result;
      }
      getFirstOfMonth(day) {
        let date = new Date(day);
        let firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        return (this.firstOfMonth = firstDay.getTime());
      }
      getFirstOfYear(day) {
        let date = new Date(day);
        let firstDay = new Date(date.getFullYear(), 0, 1);
        return (this.firstOfYear = firstDay.getTime());
      }

      rentability(startDate, endDate) {
        let startRentability = this.getDateData(startDate).netAssetValue;
        let endRentability = this.getDateData(endDate).netAssetValue;
        return (
          ((endRentability - startRentability) / startRentability).toFixed(2) +
          "%"
        );
      }
      dataChanged(data) {
        this.data = data
      }
    }

    window.customElements.define(
      RentabilidadCalculation.is,
      RentabilidadCalculation
    );
  </script>
</dom-module>
