<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>

<dom-module id="rentabilidad-calculation">
  <template>
    <style>
      :host {
        display: block;
      }
      .sidebar-table {
        border: 1px solid #dde3ea;
        padding-bottom: 10px;
      }
      dl,
      .see-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dcdcdc;
        margin: 0 20px;
        padding: 10px 0;
      }
      .see-date {
        border-bottom: none;
        padding-bottom: 10px;
      }
      dd {
        font-family: "BentonSans Regular";
      }

      .green {
        color: green;
      }

      .red {
        color: red;
      }

    </style>

    <div>
      <dl>
        <dt>Valor liquidativo</dt>
        <dd></dd>
      </dl>

      <dl>
        <dt>Rentabilidad mes en curso</dt>
        <dd class$="{{changeValueClass(rentabilidadmensual)}}">[[rentabilidadmensual]]</dd>
      </dl>
      <dl>
        <dt>Rentabilidad año en curso</dt>
        <dd class$="{{changeValueClass(rentabilidadanual)}}">[[rentabilidadanual]]</dd>
      </dl>
      <dl>
        <dt>Rentabilidad últ. 12 meses</dt>
        <dd></dd>
      </dl>
      <p class="see-date">Consultar otra fecha</p>
    </div>
  </template>

  <script>
    /**
     * `rentabilidad-calculation` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class RentabilidadCalculation extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "rentabilidad-calculation";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          funddata: Array,
          date: Number, 
          todayValue: {
            type: Number, 
            computed: 'getTodayValue(funddata)'
          },
          firstDayValue: {
            type: Number,
            computed: 'getFirstDayValue(funddata)'
          },
          firstDayOfYearValue: {
            type: Number,
            computed: 'getFirstDayOfYearValue(funddata)'
          },
          rentabilidadmensual: {
            type: Number,
            computed: 'valuesChanged(todayValue, firstDayValue)'
          },
          rentabilidadanual: {
            type: Number,
            computed: 'valuesChanged(todayValue, firstDayOfYearValue)'
          }
        }
      }

      /**
        * Array of strings describing multi-property observer methods and their
        * dependant properties
        */
      // static get observers() {
      //   return [
      //     'valuesChanged(todayValue, firstDayValue)'
      //   ];
      // }

      getTodayValue(fundData) {
        if (!fundData) {
          return
        }
        const todayValues = fundData.find(item => item.date === this.date)
        return todayValues.netAssetValue
      }

      getFirstDayValue(fundData) {
        const today = new Date()
        let firstDay = new Date(today.getFullYear(), today.getMonth(), 1);
        const firstDayTimestamp = firstDay.getTime()
        const firstDayValues = fundData.find(item => item.date === firstDayTimestamp)
        return firstDayValues.netAssetValue
      }

      getFirstDayOfYearValue(fundData) {
        const today = new Date()
        let firstDay = new Date(today.getFullYear(), 0, 1);
        const firstDayTimestamp = firstDay.getTime()
        const firstDayValues = fundData.find(item => item.date === firstDayTimestamp)
        return firstDayValues.netAssetValue
      }

      valuesChanged(todayValue, firstDayValue) {
        const rentabilidad = ((todayValue-firstDayValue)/firstDayValue).toFixed(2) + '%'
        return rentabilidad
      }

      changeValueClass(value){
        return ( parseFloat(value) >= 0 ) ? 'green' : 'red'
      }

    }

    window.customElements.define(
      RentabilidadCalculation.is,
      RentabilidadCalculation
    );
  </script>
</dom-module>
