<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../components/date-browser.html" />
<link rel="import" href="../theme/shared-styles.html" />
<link rel="import" href="table-row.html">

<dom-module id="return-calculation">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        font-size: 1em;
      }

      .see-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        padding: 10px 0;
      }

      table-row {
        border-bottom: 1px solid #dcdcdc;
      }

      table-row:last-child,
      .see-date {
        border-bottom: none;
        padding-bottom: 10px;
      }

      .green {
        color: var(--evaluate-high);
      }

      .red {
        color: var(--evaluate-low);
      }
    </style>
    <table-row>
      <span slot="value-name">Valor liquidativo</span>
      <span slot="value">[[todayValue]] €</span>
    </table-row>
    <table-row>
      <span slot="value-name">Rentabilidad mes en curso</span>
      <span slot="value" class$="{{ changeValueClass(monthlyReturn) }}">[[monthlyReturn]]%</span>
    </table-row>
    <table-row>
      <span slot="value-name">Rentabilidad año en curso</span>
      <span slot="value" class$="{{ changeValueClass(thisYearReturn) }}">[[thisYearReturn]]%</span>
    </table-row>
    <table-row>
      <span slot="value-name">Rentabilidad últ. 12 meses</span>
      <span slot="value" class$="{{ changeValueClass(anualReturn) }}">[[anualReturn]]%</span>
    </table-row>
  </template>

  <script>
    /**
     * `return-calculation` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class ReturnCalculation extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "return-calculation";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          fundData: Array,

          date: {
            type: Number,
            observer:"dateobserver"
          },
          today: String,

          todayValue: {
            type: Number,
            computed: "mgetDateValue( fundData)"
          },

          firstDayOfMonthValue: {
            type: Number,
            computed: "mgetDateValue( fundData, , 1)"
          },
          firstDayOfYearValue: {
            type: Number,
            computed: "mgetDateValue( fundData, , 1, 0 )"
          },
          yearAgoValue: {
            type: Number,
            computed: "mgetDateValue( fundData, 'true', -1 )"
          },

          monthlyReturn: {
            type: Number,
            computed: "valuesChange( todayValue, firstDayOfMonthValue )"
          },
          thisYearReturn: {
            type: Number,
            computed: "valuesChange( todayValue, firstDayOfYearValue )"
          },
          anualReturn: {
            type: Number,
            computed: "valuesChange( todayValue, yearAgoValue )"
          }
        };
      }

      dateobserver(valor,oldvalor){
        console.log(valor,oldvalor);
        let requestDate=new Date(valor)
        console.log(requestDate) 
      
        
      }

      mgetDateValue(data,computed,...args){
        console.log(data);
        console.log(computed);
        console.log(args)
        let [refDay,refMount]=args;
        console.log(refDay,refMount)
        let nowDate=new Date(); //fecha de hoy-ahora
        
        let day=nowDate.getDate()-2 //return el dia de mes
        let month=nowDate.getMonth() //return mes
        let year=nowDate.getFullYear() 
        console.log(day,month,year)

        //for today value
        let date = new Date(year, month, day)
        let timestampDate=date.getTime()
        console.log(timestampDate)

        if (refDay===1){
          console.log("vamos a principios de mes")
          let firstMount=new Date(year,month,1)
          console.log(Date.parse(firstMount))

        }

        if (refDay===1 && refMount===0){
          console.log("vamos a principios de año")
          let firstYear=new Date(year,0,1)
          console.log(Date.parse(firstYear))

        }


        return data.find(item => item.date === timestampDate).netAssetValue;

      }

/*
      getDateValue(data, computed, ...args) {
        
        const today = new Date();
        console.log(today)
        let date;
        let UTCoffset;

        if (computed) {
          let [years = 0, months = 0, days = 0] = args;
          let year = today.getFullYear(),
            month = today.getMonth(),
            day = today.getDate();
          date = new Date(year + years, month + months, day + days)
        } else {
          console.log("No computed, args: ", args)
          let [
            day = today.getDate(),
            month = today.getMonth(),
            year = today.getFullYear()
          ] = args;
          console.log("internamente day: ",day)
          console.log("internamente month: ",month)
          console.log("internamente year: ",year)
          date = new Date(year, month, day)
        }

        UTCoffset = date.getTimezoneOffset() * 60 * 1000
        date = date.getTime() - UTCoffset
        
        return data.find(item => item.date === date).netAssetValue;
      }
*/

      valuesChange(todayValue, firstDayValue) {
        const rentability = (
          (todayValue - firstDayValue) /
          firstDayValue
        ).toFixed(2);
        return rentability;
      }

      changeValueClass(value) {
        return value >= 0 ? "green" : "red";
      }
    }

    window.customElements.define(ReturnCalculation.is, ReturnCalculation);
  </script>
</dom-module>