@font-face {
  font-family: 'BentonSans Regular';
  src: url('../../fonts/BentonSans-Regular.eot');
  src: url('../../fonts/BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/BentonSans-Regular.woff2') format('woff2'),
      url('../../fonts/BentonSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans Bold';
  src: url('../../fonts/BentonSans-Bold.eot');
  src: url('../../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/BentonSans-Bold.woff2') format('woff2'),
      url('../../fonts/BentonSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans Light';
  src: url('../../fonts/BentonSans-Light.eot');
  src: url('../../fonts/BentonSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/BentonSans-Light.woff2') format('woff2'),
      url('../../fonts/BentonSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  color: #666;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', 'BentonSans Light', Arial, Helvetica, sans-serif;
}